.card-container{
  padding-top: 20px;
  padding-left: 20px; 
}
/*box*/
.fa-user{
  display: inline-block;
  cursor: pointer;
}
.line-overview .token-added{
  color: #FFC107;
}
.line-overview .active{
  border: 1px solid #FFC107;
  background: #FFC107;
}


