.dark-primary-color    { background: #D32F2F; }
.default-primary-color { background: #F44336; }
.light-primary-color   { background: #FFCDD2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

body{
  background-color: #f1f1f1;
  font-family: "Roboto",serif;
}

.divider{
  border-bottom: 1px solid #BDBDBD;
  width: 90%;
}
/* Navbar */
.navbar{
  background-color: White;
}
.navbar .navbar-brand{
  color: #F44336;
}
.navbar .navbar-brand>img{
  height: 32px;
  width: 32px;
  margin-right: 5px;
}
.navbar .navbar-nav>.active>.nav-link{
  color: #FFC107;
}
.navbar .navbar-nav>.active>.nav-link:hover{
  color: #d6a207;
}
.main-container{
  margin-top: 60px;
}
.
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
  .card-container{
   margin-left: 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .card-container{
   margin-left: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
  .card-container{
   margin-left: 35vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card-container{
   margin-left: 25vw;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .card-container{
   margin-left: 18vw;
  }
}
/*sidebar*/
#sidebar{
  height: 100vh;
  background-color: #D32F2F;
  color: white;
  padding-left: 0px;
  padding-right: 0px;
  position: fixed;
  top: 0;
}
.sidebar-nav{
  margin-top: 55px;
  list-style: none;
  padding-left: 0px;
}
.sidebar-nav>.active{
  background: #F44336;
}
.sidebar-nav>.active:hover{
  background: #f02000;
}
.sidebar-link{
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2em;
}
.sidebar-link>a{
  font-size: 1.2em;
  color: White;
}
/*Button*/
.btn-default{
  background: #FFC107;
  color: White;
  margin-top: 5px;
}
.btn-default:hover{
  background: #eab208;
  color: White;
}

/*cards*/
.card{
  box-shadow: 5px 5px 3px #BDBDBD;
  margin: 10px auto;
}
.card:hover{
  box-shadow: 8px 8px 5px #BDBDBD;
}
.card-title{
  color: #212121;
}
.card-text{
  color: #757575;
}
/*bg-color*/
.bg-crowman-primary{
    background-color: #F44336;
    color: White;
}
.bg-crowman-accent{
    background: #FFC107;
    color: White;
}
.bg-crowman-accent .card-text{
  color: White;
}

.img-circle{
  border: 1px solid #757575;
  border-radius: 100%;
  width: 128px;
}
input[type="text"],input[type="password"],input[type=tel]{
  margin: 5px auto;
}
/*alert*/
.alert{
  position: fixed;
  top: 10%;
  right: 0;
  z-index: 1000;
}
/*modal*/
.modal-dialog{
  border: 1px solid #D32F2F;
}
.modal-header{
  background: #F44336;
  color: White;
}
.modal-footer{
  background: #FFCDD2;
}

#line-overview .fa-user{
  margin-right: 5px;
  font-size: 1.1em;
}
#line-overview .fa-user:hover{
  color: #F44336;
}

.active{
  color: #FFC107;
}
